/* ======================================================
   Author: Joachim MASSON
   For: LMCDO-Front
   Description: Index stylesheet for general graphic chart
   ====================================================== */

:root {
	/* Variables de couleur*/
	--primary-color-1: #ffd700; /*Or du Grand Condor - L'or pur, éclatant, symbole du Soleil et de la technologie de Mu.*/
	--primary-color-2: #004f9f; /*Bleu Lapis-Lazuli - La mer, le ciel profond des Andes, et la couleur des pierres précieuses souvent associées à l'or dans les cultures andines. */
	--primary-color-3: #ffe033; /*Jaune Solaire - Une version plus douce et chaude de l'or, utilisée pour la lumière du soleil et les intérieurs des cités. */
	--secondary-color-1: #b2472f; /*Rouge Terre Cuite - Évoque la poterie, les bâtiments d'argile, la chaleur de l'Amérique du Sud.*/
	--secondary-color-2: #185633; /*Vert Jungle Profond - Pour la végétation dense de l'Amazonie cachant les ruines.*/
	--secondary-color-3: #7a7a7a; /*Gris Pierre Ancienne - Le granit des Andes et des temples oubliés.*/
	--accent-color-1: #d64c8a; /*Orichalque - Un magenta/rose vibrant et unique pour représenter le métal d'énergie de Mu (les commandes du Condor, le cœur de la Cité)*/
	--accent-color-2: #1a1a1a; /*Noir Encre - Pour les contours forts, rappelant le style d'animation original.*/
}

/*Déclaration des polices d'écriture*/
@font-face {
	font-family: "Cinquencento";
	src: url("./assets/fonts/Cinquecento.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap; /* Permet d'afficher une police système en attendant le chargement */
}
@font-face {
	font-family: "Cinquencento";
	src: url("./assets/fonts/CinquecentoFilled.ttf") format("truetype");
	font-weight: normal;
	font-style: bold;
}
@font-face {
	font-family: "Cinquencento";
	src: url("./assets/fonts/CinquecentoLight.ttf") format("truetype");
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf")
		format("truetype");
	font-weight: normal;
	font-style: italic;
}

/* ===== RESET LIGHT ===== */

::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%; /* Référence de base pour les % */
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: var(--secondary-color-3);
}

h1 {
	font-family: "Cinquencento", sans-serif;
	font-weight: 800;
	font-size: 70px;
	color: var(--accent-color-2);
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	color: var(--accent-color-2);
}

p {
	color: var(--accent-color-2);
	margin: 0;
}
